.tiptap__container {
  width: 100%;
  margin: 0 auto;
}

.toolbar__container {
  padding: 1rem;
  background-color: #1b263b;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .toolbar__item__container {
    width: fit-content;
    display: flex;

    .toolbar__item {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 20px;
      display: flex;
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        background-color: #801bd2;
      }
      &:focus {
        outline: none;
        background-color: #b884e7;
      }

      &:active {
        background-color: #410b6f;
      }
    }
  }
}

@media (min-width: 1536px) {
  .tiptap__container {
    width: 80%;
  }
}

@media (min-width: 2560px) {
  .tiptap__container {
    width: 70%;
  }
}
