.tiptap__container {
  width: 100%;
  margin: 0 auto;
}

.toolbar__container {
  padding: 1rem;
  background-color: #1b263b;
  border-radius: 6px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .toolbar_items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    .toolbar__item__container {
      width: fit-content;
      display: flex;

      .toolbar__item {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 20px;
        display: flex;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
          background-color: #801bd2;
        }
        &:focus {
          outline: none;
          background-color: #b884e7;
        }

        &:active {
          background-color: #410b6f;
        }
      }
    }
  }

  .loading_indicator {
    color: #fffffe;
    font-size: 18px;
    font-weight: 700;
  }
}

.title_input {
  width: 100%;
  height: 50px;
  resize: none;
  border: none;
  background: transparent;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  &:hover {
    border: none;
    background: transparent;
  }
  &:focus {
    border: none;
    background: transparent;
  }
  &:focus-within {
    border: none;
    background: transparent;
  }
  &:focus-visible {
    border: none;
    background: transparent;
    outline: none;
  }
  &:active {
    border: none;
    background: transparent;
  }
}

.editor__image__uploader {
  background-color: #1b263b;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 1rem;
  border-radius: 12px;
  width: 80%;
  border: 1px solid #fff;
}

.editor__image__uploader__visible {
  display: block;
}

@media (min-width: 1020px) {
  .editor__image__uploader {
    width: 50%;
  }
}

@media (min-width: 1536px) {
  .editor__image__uploader {
    width: 30%;
  }
}

@media (min-width: 2560px) {
  .tiptap__container {
    width: 70%;
  }
}
