* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #16161a;
  color: #94a1b2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffffe;
}

.ProseMirror {
  height: 100vh;
}

.ProseMirror:focus-within {
  outline: 0 !important;
}
