.navbar__container {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.navbar__nav__items {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
